/server/IPMessengerServer/nbproject/private/
/client/IPMessengerClient/nbproject/private/
/client/IPMessengerClient/build/
/client/WEB/nbproject/private/
/client/WEB/build/
/server/IPMessengerServer/build/
**/nbproject/
server/IPMessengerServer/nbproject/
client/IPMessengerClient/nbproject/
client/WEB/nbproject/
