/server/IPMessengerServer/nbproject/private/
/client/IPMessengerClient/nbproject/private/
/client/IPMessengerClient/build/
/client/WEB/nbproject/private/
/client/WEB/build/
server/IPMessengerServer/nbproject/project.properties
server/IPMessengerClient/nbproject/project.properties
