# NetBeans (solo local, no subir al repo)
**/nbproject/

# Artefactos de build
**/build/
**/dist/

# Base de datos local
messenger.db
**/*.db
**/*.db-journal

# IDE
.idea/
*.iml
.vscode/


./server/IPMessengerServer/nbproject/project.properties
./server/IPMessengerClient/nbproject/project.properties
